<!-- views/index.ejs -->
<!doctype html>
<html>
<head>

    <!--- basic page needs --->
    <meta charset="utf-8">
    <title>webMOBI App</title>
    <link
    href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&family=Arimo:ital@0;1&family=Quicksand:wght@300;400;500&family=Indie+Flower&family=Nanum+Gothic&family=Open+Sans+Condensed:wght@300&family=Open+Sans+Condensed:wght@300&family=Raleway:wght@300&family=Nunito+Sans:wght@600&family=Fredoka+One&family=Poppins:wght@500&family=Lato:ital@1&family=Permanent+Marker&family=Kufam:ital,wght@1,500&family=Grandstander:ital@1&family=Hachi+Maru+Pop&family=Pacifico&family=Rubik:wght@500&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/14bf636678.js" crossorigin="anonymous"></script>

</head>
<body>
    <div id="imagediv" >
        <img class="Bimage" src="https://www.bleepstatic.com/content/posts/2020/07/14/WelcomeChat.png" alt="mobility">
        
            <div id="intro" style="text-align: center; ">
                <div  >
                    <!-- <i class="fas fa-taxi fa-2x " style=" color: #f2edd7" ></i> -->
                    <h1 style="font-size: 5rem; color: #f2edd7">webMOBI Chat App</h1>
                    <a style=" font-size: 20px; padding: 5px 30px 5px 30px; border: 10px 5px;" class="btn btn-sm btn-dark " href="users" role="button">USERS</a>
                    <a style=" font-size: 20px;  padding: 5px 30px 5px 30px; " class="btn btn-sm btn-dark " href="join" role="button">Start Chat</a>
                </div>
                
                
            </div>
        
    </div>



</body>
</html>